@model SeniorDesign.Models.MDTProfile
@{
    ViewBag.Title = "Quizzes";
}

<h2>Quizzes</h2>
<h4>@Html.ActionLink("Quiz #1","Quizzes",new { quizId = 1 })</h4>
<h4>@Html.ActionLink("Quiz #2","Quizzes",new { quizId = 2 })</h4>
<h4>@Html.ActionLink("Quiz #3","Quizzes",new { quizId = 3 })</h4>
<h4>@Html.ActionLink("Quiz #4","Quizzes",new { quizId = 4 })</h4>
<h4>@Html.ActionLink("Quiz #5","Quizzes",new { quizId = 5 })</h4>
<h4>Quiz #6</h4>
<h4>Quiz #7</h4>
@*<h4>@Html.ActionLink("Quiz #6","Quizzes",new { quizId = 6 })</h4>
<h4>@Html.ActionLink("Quiz #7","Quizzes",new { quizId = 7 })</h4>*@
<h4>@Html.ActionLink("Quiz #8","Quizzes",new { quizId = 8 })</h4>
<h4>@Html.ActionLink("Quiz #9","Quizzes",new { quizId = 9 })</h4>
